---
layout: default
title: Home
---

<div class="home">
  <div class="introduction">
      Là một Product Designer, làm việc tại thành phố Hồ Chí Minh.
      Đam mê thiết kế, công nghệ và kinh doanh.
       <br>
      [ <b>WEBSITE VẪN CÒN TRONG GIAI ĐOẠN PHÁT TRIỂN </b> ]
  </div>
  <h1 class="section-title">Công việc</h1>
  <div class="works-list">
      <div class="row list-flex-wrap">
        {% for post in site.categories.work %}
          <div class="work col-xs-6">
            <div class="work-wrap" style="background-image: url('{{ post.thumbnail }}')">
              <div class="overplay"></div>
              <div class="work__title">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
   <h1 class="section-title">Blogs</h1>
  <div class="posts-list">
    {% for post in site.posts limit: 4 %}
      <div class="post">
        <div class="post__title">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <span class="meta"><b class="cate">{{ post.category }}</b> - {{ post.date | date: "%-d %b, %Y" }}</span>
        </div>
        <div class="post__description">
          <p>
            {% if post.description %}
            {{ post.description}}
            {% else %}
            {{ post.excerpt }}
            {% endif %} 
            <a class="read-more" href="{{ post.url | prepend: site.baseurl }}"> »  </a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="pagination older-post"><a href="./archive">
    <data data-icon="ei-arrow-right"></data> Xem tất cả  </a></div>
</div>
