---
layout: default
---
<div class="row">
  <div class="col-lg-12">
    <span class="title-tag">Intro</span>
  </div>
  <div class="col-lg-12">
    <h1 class="hero-title">{{ content }}</h1>
  </div>
  <div class="col-lg-12">
    <hr>
  </div>
  <div class="col-lg-12 u-margin-top-x">
    <span class="title-tag">My process</span>
  </div>
  <div class="col-lg-12">
    <div class="row list-flex-wrap">
      <div class="col-lg-4 section-text">
        <span class="text-large text-bold section-text__title">1. Discussion</span>
        <p>
          Having a discussion with client about their actual problems and try know their vision then understand the value of project for a business.
        </p>
      </div>
      <div class="col-lg-4 section-text">
        <span class="text-large text-bold section-text__title">2. Analysis</span>
        <p>
           Research and analysis for user flow strategories, information architect, building wireframe for entire application, website.
        </p>
      </div>
      <div class="col-lg-4 section-text">
        <span class="text-large text-bold section-text__title">3. Execution</span>
        <p>
            In this phase, started to design a perfect pixel user interface, then build Hi-fi prototype (HTML/CSS/JS)
        </p>
      </div>
      <div class="clearfix"></div>
    </div><!-- row -->
  </div><!-- col-lg-12 -->
  <div class="col-lg-12 u-margin-top-x">
    <span class="title-tag">FAQ</span>
  </div>
  <div class="col-lg-12">
    <div class="row list-flex-wrap">
      <div class="col-lg-6 section-text">
        <span class="text-large text-bold section-text__title">1. How much is the charge ?</span>
          <p>
            It all highly depend on the scope and duration the project. The charge will be defined when project description was totaly clear.
          </p>
      </div>
      <div class="col-lg-6 section-text">
        <span class="text-large text-bold section-text__title">2. And about your services ?</span>
          <p>
            Digital product design, which includes build wireframe, low-fi and hi-fi prototype, design user interface and develop interface.
          </p>
      </div>
      <div class="col-lg-6 section-text">
        <span class="text-large text-bold section-text__title">3. What tools do you use ?</span>
          <p>
              Balsamiq, Axure for wireframing. And i prefer Sketch to Photoshop for designing UI. Zeplin is a tool that used to getting feedback on my design from clients.
          </p>
      </div>
    </div><!-- row -->
  </div><!-- col-lg-12 -->
  <div class="col-lg-12 u-margin-top-x">
    <span class="title-tag">Experience</span>
  </div>
  <div class="col-lg-12">
    <ul class="timeline">
        <li class="timeline__mark">
            <div class="time">Sep 2018 - Present</div>
            <div class="job">
              <span class="job__title">Product Design / Product Manager</span>
              <span class="job__corp">Orange Concept</span>
              <p class="job__des">
                Co-fouunder and in charge at Digital Product Development service.
              </p>
            </div>
          </li>
      <li class="timeline__mark">
        <div class="time">Jan 2018 - Aug 2018</div>
        <div class="job">
          <span class="job__title">Product Owner</span>
          <span class="job__corp">MoMo Wallet</span>
          <p class="job__des">
            In charge at growing KPIs for Topup , Transaction History features, also research and proposal solution to improve Peer-2-Peer transactions, launch internal and external promotion campaigns with partners in MoMo app, doing quantitative and qualitative research, keep track on development, UAT phases and make sure it release on production well.
          </p>
        </div>
      </li>
      <li class="timeline__mark">
        <div class="time">Oct 2016 - Mar 2017</div>
        <div class="job">
          <span class="job__title">UX Designer</span>
          <span class="job__corp">Silicon Straits Saigon</span>
          <p class="job__des"> 
            Adsbox, a product of Silicon Straits Saigon. A solution to allow you to manage and control your media on any screen by consisting of many hardwares plug in TVs through HDMI and a software media management system. My role in this project is a UX Designer and frontend developer, improve user experience and develop UI.
          </p>
        </div>
      </li>
      <li class="timeline__mark">
        <div class="time">Nov 2015 - Nov 2016</div>
        <div class="job">
          <span class="job__title">UX/UI Designer</span>
          <span class="job__corp">Seedcom</span>
          <p class="job__des">
            Seedcom is now building a ERP system to support our retail partner that is called OSS.
            Our partners are Juno, Cau Dat Farm, Pizza4'P, The Coffee house. My role is get requirement from all stakeholders and product owner, then make a low-fi prototype for each function by Axure, go detail UI by Sketch and finally turn design to HTML/CSS/SASS.
          </p>
        </div>
      </li>
      <li class="timeline__mark">
        <div class="time">Sep 2014 - Mar 2015</div>
        <div class="job">
          <span class="job__title">UX/UI Designer</span>
          <span class="job__corp">Aothun.vn</span>
          <p class="job__des">
             Involving as a UI designer and frontend developer for ecommerce product.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-lg-12 u-margin-top-x">
    <span class="title-tag">Contact</span>
  </div>
  <div class="col-lg-12">
    <div class="section-text">
      <p>
        Tell me about your project or just say hi :)
        <br>
        Email: <a href="mailto:quypham@orangeconcept.vn?Subject=Hello%20Quy">quypham@orangeconcept.vn</a>
      </p>
    </div>
  </div>
</div><!-- row -->