---
layout: default
---
<div class="row">
  <div class="col-lg-12">
    <span class="title-tag">Giới thiệu</span>
  </div>
  <div class="col-lg-12">
    <h1 class="hero-title">{{ content }}</h1>
  </div>
  <div class="col-lg-12">
    <hr>
  </div>
  <div class="col-lg-12 u-margin-top-x">
    <span class="title-tag">Quy trình</span>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 section-text">
        <span class="text-large text-bold section-text__title">1. Trao đổi</span>
        <p>Having a discussion with client to understand his/her vision and see the big picture of the project.</p>
      </div>
      <div class="col-lg-4 section-text">
        <span class="text-large text-bold section-text__title">2. Phân tích</span>
        <p>Having a discussion with client to understand his/her vision and see the big picture of the project.</p>
      </div>
      <div class="col-lg-4 section-text">
        <span class="text-large text-bold section-text__title">3. Thực hiện</span>
        <p>Having a discussion with client to understand his/her vision and see the big picture of the project.</p>
      </div>
      <div class="clearfix"></div>
    </div><!-- row -->
  </div><!-- col-lg-12 -->
  <div class="col-lg-12 u-margin-top-x">
    <span class="title-tag">Các câu hỏi</span>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6 section-text">
        <span class="text-large text-bold section-text__title">1. Chi phí như thế nào ?</span>
          <p>Having a discussion with client to understand his/her vision and see the big picture of the project.</p>
      </div>
      <div class="col-lg-6 section-text">
        <span class="text-large text-bold section-text__title">2. Phần mềm sử dụng ?</span>
          <p>Having a discussion with client to understand his/her vision and see the big picture of the project.</p>
      </div>
      <div class="col-lg-6 section-text">
        <span class="text-large text-bold section-text__title">3. Tôi cung cấp những dịch vụ gì ?</span>
          <p>Having a discussion with client to understand his/her vision and see the big picture of the project.</p>
      </div>
      <div class="col-lg-6 section-text">
        <span class="text-large text-bold section-text__title">4. Tôi có thể code không ? </span>
          <p>Having a discussion with client to understand his/her vision and see the big picture of the project.</p>
      </div>
      <div class="col-lg-6 section-text">
        <span class="text-large text-bold section-text__title">5. Tôi có đang tìm kiếm một công việc toàn thời gian ?</span>
          <p>Having a discussion with client to understand his/her vision and see the big picture of the project.</p>
      </div>
    </div><!-- row -->
  </div><!-- col-lg-12 -->
  <div class="col-lg-12 u-margin-top-x">
    <span class="title-tag">Kinh nghiệm</span>
  </div>
  <div class="col-lg-12">
    <ul class="timeline">
      <li class="timeline__mark">
        <div class="time">2017 - Present</div>
        <div class="job">
          <span class="job__title">Freelancer</span>
        </div>
      </li>
      <li class="timeline__mark">
        <div class="time">2016 - 2017</div>
        <div class="job">
          <span class="job__title">UX Designer</span>
          <span class="job__corp">Silicon Straits Saigon</span>
        </div>
      </li>
      <li class="timeline__mark">
        <div class="time">2015 - 2016</div>
        <div class="job">
          <span class="job__title">UX/UI Designer</span>
          <span class="job__corp">Seedcom</span>
          <p class="job__des">
            Seedcom is now building a ERP system to support our retail partner that is called OSS. Our partners are Juno, Cau Dat Farm, Pizza4'P, The Coffee house. My role is get requirement from all stakeholders and product owner, then make a low-fi prototype for each function by Axure, go detail UI by Sketch and finally turn design to HTML/CSS/SASS
          </p>
        </div>
      </li>
      <li class="timeline__mark">
        <div class="time">2014 - 2015</div>
        <div class="job">
          <span class="job__title">UX/UI Designer</span>
          <span class="job__corp">Aothun.vn</span>
        </div>
      </li>
    </ul>
  </div>
</div><!-- row -->